.todo {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  transition: background .3s ease;


  p, input {
    margin: 0;
  }

  &:hover {
    background: #f0f0f0;
  }

  > :first-child {
    margin-right: 1rem;
  }
}

.todo__subtext {
  color: #999999;
}

.todo-completed {
  p:not(.todo__subtext) {
      color: $light-color;
      text-decoration: line-through;
  }
}
